<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>字典管理</title>

    <!-- Bootstrap Core CSS -->
    <link href="dist/bootstrap3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS  vendor/datatables-plugins/dataTables.bootstrap.css -->
    <link href="dist/datatable1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="dist/datatable1.10.15/extensions/Responsive/css/responsive.dataTables.min.css" rel="stylesheet">
    
    <!-- 表单验证 CSS -->
    <link href="dist/bootstrapValidator0.5.3/dist/css/bootstrapValidator.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->  
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		.cus_selected {
			color:cyan;
		}
	</style>
</head>
<body>
<div id="wrapper">
	<nav th:replace="navigate :: nav"></nav>
	
	<div id="page-wrapper">
            <!-- <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">基础字典字段管理</h1>
                </div>
               
            </div> -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	字典管理
                        </div>
                        <div class="row-fluid">
                        <!-- /.panel-heading class="table table-striped table-bordered table-hover"  -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="example">
                                <thead>
                                    <tr>
										<th>序号</th>
										<th>英文简称</th>
										<th>中文名称</th>
										<th>英文名称</th>
										<th>业务定义</th>
										<th>来源</th>
										<th>数据类别</th>
										<th>数据格式</th>
										<th>数据域</th>
										<th>数据域序号</th>
										<th>数据域组</th>
										<th>java数据类型</th>
										<th>java命名规范</th>
										<th>oracle数据类型</th>
										<th>jdbc数据类型</th>
										<th>提交人</th>
										<th>提交时间</th>
										<th>审核人</th>
										<th>审核时间</th>
										<th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
	</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增基本字段</h4>
            </div>
            <div class="modal-body">
             <form id="baseModalForm">
             	<div class="form-group">
				<input type="text" class="form-control" id="seqNo"  name="seqNo" placeholder="序号">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="engName"  name="engName" placeholder="英文简称">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="chnName"  name="chnName" placeholder="中文名称">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="engFullName"  name="engFullName" placeholder="英文名称">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="businessDefine"  name="businessDefine" placeholder="业务定义">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="source"  name="source" placeholder="来源">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="dataType"  name="dataType" placeholder="数据类别">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="dataFormat"  name="dataFormat" placeholder="数据格式">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="domainName"  name="domainName" placeholder="数据域">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="domainSeqno"  name="domainSeqno" placeholder="数据域序号">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="domainGroup"  name="domainGroup" placeholder="数据域组">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="javaType"  name="javaType" placeholder="java数据类型">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="javaName"  name="javaName" placeholder="java命名规范">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="oracleType"  name="oracleType" placeholder="oracle数据类型">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="jdbcType"  name="jdbcType" placeholder="jdbc数据类型">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="submitter"  name="submitter" placeholder="提交人">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="submitTime"  name="submitTime" placeholder="提交时间">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="confirmer"  name="confirmer" placeholder="审核人">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="confirmTime"  name="confirmTime" placeholder="审核时间">
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="remark"  name="remark" placeholder="备注">
				</div>
               </form>
            </div>
            <div class="modal-footer">
                <span id="returnMessage" class="glyphicon"> </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除用 Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">删除字典</h4>
            </div>
            <div class="modal-body">
             <form id="deleteModalForm">
             	<div class="form-group">
				<input type="text" class="form-control" id="seqNo"  name="seqNo" placeholder="序号" readonly>
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="engName"  name="engName" placeholder="英文简称" readonly>
				</div>
				<div class="form-group">
				<input type="text" class="form-control" id="chnName"  name="chnName" placeholder="中文名称" readonly>
				</div>

               </form>
            </div>
            <div class="modal-footer">
                <span id="returnMessageDelete" class="glyphicon"> </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="deleteBtn">删除</button>
            </div>
        </div>
    </div>
</div>

	<!-- vendor/jquery/jquery.min.js /dusframework-web/src/main/webapp/WEB-INF/static/dist/datatable1.10.15/js/jquery.js-->
    <script src="dist/datatable1.10.15/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="dist/bootstrap3.3.7/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <script src="dist/datatable1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="dist/datatable1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="dist/datatable1.10.15/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    
    <!-- 表单验证js -->
    <script src="dist/bootstrapValidator0.5.3/dist/js/bootstrapValidator.min.js"></script>
    
    <script src="js/sb-admin-2.js"></script>

    <script>
	// datatable 初始化开始 ----
    $(document).ready(function() {
        var table = $('#example').DataTable({
           responsive: true ,
           serverSide:true,
           ajax: {
               url: 'searchDictFields.json',
               dataSrc: 'data',
               //type: "POST",
               //contentType:'application/json; charset=UTF-8'
           },
           language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "过滤:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            columns: [
            	{"data": "seqNo"},   // 序号
                {"data": "engName"},   // 英文简称
                {"data": "chnName"},   // 中文名称
                {"data": "engFullName"},   // 英文名称
                {"data": "businessDefine"},   // 业务定义
                {"data": "source"},   // 来源
                {"data": "dataType"},   // 数据类别
                {"data": "dataFormat"},   // 数据格式
                {"data": "domainName"},   // 数据域
                {"data": "domainSeqno"},   // 数据域序号
                {"data": "domainGroup"},   // 数据域组
                {"data": "javaType"},   // java数据类型
                {"data": "javaName"},   // java命名规范
                {"data": "oracleType"},   // oracle数据类型
                {"data": "jdbcType"},   // jdbc数据类型
                {"data": "submitter"},   // 提交人
                {"data": "submitTime"},   // 提交时间
                {"data": "confirmer"},   // 审核人
                {"data": "confirmTime"},   // 审核时间
                {"data": "remark"}   // 备注
            ],
            columnDefs: [
                {
                	// 所有的列不允许排序
                    "orderable": false,
                    "targets": "_all"
                }
            ],
            //dom:"lrtip" 
            dom: "<'row'<'#mytooladd.col-xs-4'><'#mytool.col-xs-6'><'col-xs-2'l>r>" +
            "t" +
            "<'row'<'col-xs-6'i><'col-xs-6'p>>",
            // 添加几个按钮 和 搜索框  
    		initComplete: function () {
        		//$("#mytool2").append('<button id="datainit" type="button" class="btn btn-primary btn-sm">新增</button>');
        		//$("#mytool").append('<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">添加</button>');
        		$("#mytool").append('<div class="form-group">' +
		                           '<div class="input-group">' +
		                                 '<input id="searchinput" type="search"  placeholder="请输入关键字" class="form-control">'
		                                + '<span class="input-group-btn">  '
                                        + '<button id="searchbutton" type="button" class="btn btn-sm btn-primary"> 搜索</button></span>'
		                          + '</div>'
		                    + '</div>');
        		$("#mytooladd").append('<div class="form-group">'
                       + '<button id="btnUpdate" type="button" class="btn btn-primary btn-sm"  data-toggle="modal" > 更新 </button>'
                       + '<button id="btnDelete" type="button" class="btn btn-primary btn-sm"  data-toggle="modal" > 删除 </button>'
                 	+ '</div>');

        		$("#searchbutton").on("click", function () {
					var str = $("#searchinput").val();
					table.search(str).draw();
				});
        		$("#btnUpdate").on("click", btnUpdate);
        		$("#btnDelete").on("click", btnDelete);
    		}
        });
    });
 	// datatable 初始化完成。
 
 	
   // 新增基本字段模态框modal初始化开始----
   // modal form validate script
   var form = $('#baseModalForm');
   var deleteForm = $('#deleteModalForm');
   form.bootstrapValidator({
       message: '输入值不合法',
       excluded:[":disabled",":hidden",":not(:visible)"],
       feedbackIcons: {
           valid: 'glyphicon glyphicon-ok',
           invalid: 'glyphicon glyphicon-remove',
           validating: 'glyphicon glyphicon-refresh'
       },
       fields: {
    	   seqNo: {
    		   message:'序号不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '序号不能为空'
    		   }
    		   }
    		   },
    		   engName: {
    		   message:'英文简称不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '英文简称不能为空'
    		   }
    		   }
    		   },
    		   chnName: {
    		   message:'中文名称不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '中文名称不能为空'
    		   }
    		   }
    		   },
    		   engFullName: {
    		   message:'英文名称不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '英文名称不能为空'
    		   }
    		   }
    		   },
    		   businessDefine: {
    		   message:'业务定义不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '业务定义不能为空'
    		   }
    		   }
    		   },
    		   source: {
    		   message:'来源不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '来源不能为空'
    		   }
    		   }
    		   },
    		   dataFormat: {
    		   message:'数据格式不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '数据格式不能为空'
    		   }
    		   }
    		   },
    		   domainName: {
    		   message:'数据域不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '数据域不能为空'
    		   }
    		   }
    		   },
    		   domainSeqno: {
    		   message:'数据域序号不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '数据域序号不能为空'
    		   }
    		   }
    		   },
    		   domainGroup: {
    		   message:'数据域组不合法',
    		   validators: {
    		   notEmpty: {
    		   message: '数据域组不能为空'
    		   }
    		   }
    		   },
    		   javaType: {
    		   message:'java数据类型不合法',
    		   validators: {
    		   notEmpty: {
    		   message: 'java数据类型不能为空'
    		   }
    		   }
    		   },
    		   javaName: {
    		   message:'java命名规范不合法',
    		   validators: {
    		   notEmpty: {
    		   message: 'java命名规范不能为空'
    		   }
    		   }
    		   },
    		   oracleType: {
    		   message:'oracle数据类型不合法',
    		   validators: {
    		   notEmpty: {
    		   message: 'oracle数据类型不能为空'
    		   }
    		   }
    		   }
       }
   });
   
   // 处理datatable select 显示 
   $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('warning') ) {
            $(this).removeClass('warning');
        }
        else {
        	$('#example').DataTable().$('tr.warning').removeClass('warning');
            $(this).addClass('warning');
        }

    } );
   
   // 检查是否有选择行 
   function checkRowSelected() {
	   var selected = $('#example').DataTable().row('.warning').data();
	   console.log(selected);
	   
	   if (typeof(selected) == "undefined") {
		   alert("Please select one Row!");
		   return false;
	   } else {
		   //alert($('#example').DataTable().row('.warning').data().domainName);
		   return true;
	   } 
   }
   
   // 不同的button 初始化相应的modal
   function initMyModal(labText, labButton, data, keepSource) {
       $("#myModalLabel").text(labText);

       if (keepSource) {
    	   $("#seqNo").val(data.seqNo == null?"":data.seqNo);
    	   $("#engName").val(data.engName == null?"":data.engName);
    	   $("#chnName").val(data.chnName == null?"":data.chnName);
    	   $("#engFullName").val(data.engFullName == null?"":data.engFullName);
    	   $("#businessDefine").val(data.businessDefine == null?"":data.businessDefine);
    	   $("#source").val(data.source == null?"":data.source);
    	   $("#dataType").val(data.dataType == null?"":data.dataType);
    	   $("#dataFormat").val(data.dataFormat == null?"":data.dataFormat);
    	   $("#domainName").val(data.domainName == null?"":data.domainName);
    	   $("#domainSeqno").val(data.domainSeqno == null?"":data.domainSeqno);
    	   $("#domainGroup").val(data.domainGroup == null?"":data.domainGroup);
    	   $("#javaType").val(data.javaType == null?"":data.javaType);
    	   $("#javaName").val(data.javaName == null?"":data.javaName);
    	   $("#oracleType").val(data.oracleType == null?"":data.oracleType);
    	   $("#jdbcType").val(data.jdbcType == null?"":data.jdbcType);
    	   $("#submitter").val(data.submitter == null?"":data.submitter);
    	   $("#submitTime").val(data.submitTime == null?"":data.submitTime);
    	   $("#confirmer").val(data.confirmer == null?"":data.confirmer);
    	   $("#confirmTime").val(data.confirmTime == null?"":data.confirmTime);
    	   $("#remark").val(data.remark == null?"":data.remark);
       } else {
    	   $("#seqNo").val("");
    	   $("#engName").val("");
    	   $("#chnName").val("");
    	   $("#engFullName").val("");
    	   $("#businessDefine").val("");
    	   $("#source").val("");
    	   $("#dataType").val("");
    	   $("#dataFormat").val("");
    	   $("#domainName").val("");
    	   $("#domainSeqno").val("");
    	   $("#domainGroup").val("");
    	   $("#javaType").val("");
    	   $("#javaName").val("");
    	   $("#oracleType").val("");
    	   $("#jdbcType").val("");
    	   $("#submitter").val("");
    	   $("#submitTime").val("");
    	   $("#confirmer").val("");
    	   $("#confirmTime").val("");
    	   $("#remark").val("");
       }

       // 响应信息清空
       $("#returnMessage").hide().html('');
       // 按钮名称
       $("#saveBtn").text(labButton);
       // 显示模态对话框
       $("#myModal").modal("show");
   }
   
   // 更新按钮的事件  
   function btnUpdate() {
	   if (checkRowSelected()) {
		   var data = $('#example').DataTable().row('.warning').data();
		   initMyModal("更新字典", "保存", data, true);
		   // 域值变更为只读  
	       $("#seqNo").attr('readonly',"true");
	   }
   }
   // 删除按钮的事件  
   function btnDelete() {
	   if (checkRowSelected()) {
		   var data = $('#example').DataTable().row('.warning').data();
		   
    	   $("#deleteModalForm #seqNo").val(data.seqNo == null?"":data.seqNo);
    	   $("#deleteModalForm #engName").val(data.engName == null?"":data.engName);
    	   $("#deleteModalForm #chnName").val(data.chnName == null?"":data.chnName);
           // 响应信息清空
           $("#returnMessageDelete").hide().html('');

           // 显示模态对话框
           $("#deleteModal").modal("show");
	   }
   }
   
   // modal中保存按钮事件  
   $("#saveBtn").click(function () {
       //进行表单验证
       var bv = form.data('bootstrapValidator');
       bv.validate();
       if (bv.isValid()) {
           	$('#baseModalForm input').attr('readonly',"true");
			$('#saveBtn').attr('disabled',"true");
			//var oridata = $('#example').DataTable().row('.warning').data();
           //发送ajax请求
           $.ajax({
               url: 'updateDictField.json',
               async: false,//同步，会阻塞操作
               type: 'GET',//PUT DELETE POST
               data: form.serialize(),
               complete: function (msg) {
                   //console.log('完成了');
               },
               success: function (result) {
                   //console.log(result);
                   if (result && result["code"] == "000000") {
                	   $("#returnMessage").hide().html('<label class="label label-success">成功!</label>').show(300);
                	   // 成功后 内容不再 不允许修改 
                   } else {
                       $("#returnMessage").hide().html('<label class="label label-danger">失败!' + result["resinfo"] + '</label>').show(300);
                      	$('#baseModalForm input').removeAttr("readonly"); 
            			$('#saveBtn').removeAttr("disabled"); 
                   }
               }, 
               error: function () {
                   $("#returnMessage").hide().html('<label class="label label-danger">失败!</label>').show(300);
                 	$('#baseModalForm input').removeAttr("readonly"); 
        			$('#saveBtn').removeAttr("disabled"); 
               }
           })
       }
   });
   
   // modal 新增基本字段事件 显示事件， 清空已有的值 
   $('#myModal').on('show.bs.modal', function (e) {
	   //$('#baseModalForm input').val('');
	   $("#returnMessage").hide().html('');
	});
	// modal 新增基本字段事件 关闭事件事件， 清空已有的值 恢复禁用 
   $('#myModal').on('hide.bs.modal', function (e) {
		$('#baseModalForm input').removeAttr("readonly"); 
		$('#saveBtn').removeAttr("disabled"); 
	   form.data('bootstrapValidator').resetForm(true); 
	   // 更新datatable  
	   $('#example').DataTable().draw();
   });
	// 新增基本字段模态框modal初始化完成----
	
	// modal中删除 按钮事件  
	   $("#deleteBtn").click(function () {
				$('#deleteBtn').attr('disabled',"true");
	           //发送ajax请求
	           $.ajax({
	               url: 'deleteDictField.json',
	               async: false,//同步，会阻塞操作
	               type: 'GET',//PUT DELETE POST
	               data: deleteForm.serialize(),
	               complete: function (msg) {
	                   //console.log('完成了');
	               },
	               success: function (result) {
	                   //console.log(result);
	                   if (result && result["code"] == "000000") {
	                	   $("#returnMessageDelete").hide().html('<label class="label label-success">成功!</label>').show(300);
	                	   // 成功后 内容不再 不允许修改 
	                   } else {
	                       $("#returnMessageDelete").hide().html('<label class="label label-danger">失败!' + result["resinfo"] + '</label>').show(300);
	            			$('#deleteBtn').removeAttr("disabled"); 
	                   }
	               }, 
	               error: function () {
	                   $("#returnMessageDelete").hide().html('<label class="label label-danger">失败!</label>').show(300);
	        			$('#deleteBtn').removeAttr("disabled"); 
	               }
	           })
	       });
	
		// modal 删除字典 事件 关闭事件事件， 清空已有的值 恢复禁用 
	   $('#deleteModal').on('hide.bs.modal', function (e) {
			$('#deleteBtn').removeAttr("disabled"); 
		   // 更新datatable  
		   $('#example').DataTable().draw();
	   });
		
    </script>
</body>
</html>