<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 -->
<mapper namespace="com.dus.dusframework.web.dao.DusDictBaseFieldDao">

	<select id="searchLike" parameterType="String"
		resultType="com.dus.dusframework.web.domain.DusDictBaseFieldDo">
		select * from dusdict_base_field 
			where chn_name like #{str}
	</select>
	
	<select id="searchLikeByPage" parameterType="Map"
		resultType="com.dus.dusframework.web.domain.DusDictBaseFieldDo">
		select * from dusdict_base_field
		<where>
			<if test="str != null">
				chn_name like CONCAT(CONCAT('%',#{str}),'%')
				 or eng_name like CONCAT(CONCAT('%',#{str}),'%')
			</if>
		</where>
	</select>
	
	<select id="checkRepeat" parameterType="com.dus.dusframework.web.domain.DusDictBaseFieldDo"
		resultType="com.dus.dusframework.web.domain.DusDictBaseFieldDo">
		select * from dusdict_base_field
		where
			chn_name = #{chnName} 
			and eng_name = #{engName}
			and Abbreviate = #{abbreviate}
	</select>
	<insert id = "insert" parameterType="com.dus.dusframework.web.domain.DusDictBaseFieldDo">
		insert into DUSDICT_BASE_FIELD (
			SEQ_NO, 
		    CHN_NAME, 
		    ENG_NAME, 
		    ABBREVIATE, 
		    SOURCE, 
		    FIELD_GROUP, 
		    BEGINS, 
		    REMARK, 
		    BUSI_DATE, 
		    TMS, 
		    VNO
		   )
		 Values (
		 	${'SEQ_DICT_BASE_FIELD.nextval'},
		    #{chnName}, 
		    #{engName}, 
		    #{abbreviate}, 
		    #{source}, 
		    #{fieldGroup}, 
		    #{begins}, 
		    #{remark}, 
		    #{busiDate}, 
		    ${'sysdate'}, 
		    #{vno})
	</insert>
</mapper>